<div class="row text-center text-light mt-4">
    <h4>REPOSITORIES</h4>
</div>
<div class="row text-light mx-2">
    <div class="col-md-4 mt-5" *ngFor="let rep of repo">
        <div class="text-dark card" style=" height: 18rem;">
            <div class="card-header">
                <h3><a class="text-dark" href="{{rep.html_url}}">{{rep.name}}</a></h3>
            </div>
            <div class="card-body">
                <p>{{rep.description}}</p>
                <p>Languages: {{rep.languages}}</p>
            </div>
            <div class="card-footer">
                <p>Created: {{rep.created_at| dateCount}}</p> 
            </div>
        </div>
    </div>
</div>