<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4 class="text-light">GITHUB-SEARCH APP</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="mynav navbar-nav mx-5">
        <a class="mx-5 nav-item nav-link active" routerLink="username" routerLinkActive='active'>USERNAME</a>
        <a class="mx-5 nav-item nav-link" routerLink="repo" routerLinkActive='active'>REPOSITORIES</a>
      </div>
    </div>
  </nav>
