<div class="container-fluid text-light">
    <app-search-user></app-search-user>
    <div class="row">
        <h3 class="text-center">PROFILE</h3>
        <div class="col md-5">
            <!-- <img src="{{Username.avatar_url}}" alt=""> -->
        </div>
        <div class="col md-7">
            <!-- <p>{{username.name}}</p> -->
            <!-- <p>{{username.html_url}}</p> -->
            <!-- <p>{{username.public_repositories}}</p> -->
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">REPOSITORIES</h3>
        <div class="col">
            <!-- <h4><a href="{{Repository.html_url}}">{{Repository.name}}</a></h4> -->
            <!-- <p>{{repo.name}}</p> -->
            <!-- <p>{{repo.description}}</p> -->
            <!-- <p>Created With:{{repo.language}}</p> -->
        </div>
    </div>
</div>
