<div class="container-fluid text-light">
    <app-search-user (searchResult)="searchUser($event)"></app-search-user>
    <div class="row">
        <h3 class="text-center">PROFILE</h3>
        <div class="col md-5">
            <img src="{{Username.avatar_url}}" alt="">
        </div>
        <div class="col md-7">
            <h4>{{username.name}}</h4>
            <p>{{username.html_url}}</p>
            <p>Repositories: {{username.public_repositories}}</p>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">REPOSITORIES</h3>
        <div class="col" *ngFor="let repo of repos">
            <h4><a href="{{Repository.html_url}}">{{Repository.name}}</a></h4>
            <p>{{repo.name}}</p>
            <p>{{repo.description}}</p>
            <p>Created With:{{repo.language}}</p>
        </div>
    </div>
</div>
